.btn {
  width: 100%;
  color: @black;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 8px 0;
  display: block;
  text-align: center;
  background-color: @bg-grey;
  margin-top: 25px;

  &:hover {
    background-color: #5eaa2f;
  }

  &:active {
    color: #88c065;
  }

  @media (min-width: @tablet-width) {
    margin: 0;
  }
}

.btn--silver {
  &:hover {
    background-color: #ebebeb;
  }

  &:active {
    background-color: #ebebeb;
    opacity: 0.3;
  }
}
