.program {
  color: @darkgrey;
  font-size: 36px;
  font-weight: 400;
  line-height: 60px;
  padding-left: 20px;
  margin-top: 18px;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    margin-top: 55px;
    padding-left: 30px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 110px;
    margin-top: 75px;
    margin-bottom: 55px;
  }
}

.program__title {
  color: @darkgrey;
  width: 230px;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  padding-left: 20px;

  @media (min-width: @tablet-width) {
    width: 325px;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    padding: 15px 70px 25px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 110px;
    margin-bottom: 0;
  }
}
