@font-face {
  font-weight: normal;
  font-family: "Oswald";
  font-style: normal;
  src: local("Oswald"), url("../fonts/oswaldregular.woff2") format("woff2"), url("../fonts/oswaldregular.woff") format("woff");
}
@font-face {
  font-weight: bold;
  font-family: "Oswald";
  font-style: normal;
  src: local("Oswald"), url("../fonts/oswaldmedium.woff2") format("woff2"), url("../fonts/oswaldmedium.woff") format("woff");
}
.clear-ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
body {
  min-width: 320px;
  font-size: 14px;
  line-height: 28px;
  font-family: "Oswald", "Arial", sans-serif;
  color: #444444;
  font-style: normal;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
img {
  max-width: 100%;
  height: auto;
}
.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.page-header a {
  color: #000000;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
}
@media (min-width: 768px) {
  .page-header a {
    color: #000000;
  }
}
@media (min-width: 1300px) {
  .page-header a {
    font-size: 20px;
  }
}
@media (min-width: 768px) {
  .page-header {
    padding: 24px 0 0;
  }
}
@media (min-width: 1300px) {
  .page-header {
    padding: 56px 0 0;
  }
}
.page-header__logo {
  width: 100%;
  max-width: 190px;
  display: block;
  margin: 0;
}
@media (min-width: 768px) {
  .page-header__logo {
    max-width: 174px;
  }
}
@media (min-width: 1300px) {
  .page-header__logo {
    max-width: 201px;
  }
}
.page-header--preview::after {
  content: " ";
  position: absolute;
  min-height: 305px;
  width: 100%;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-color: #5eaa2f;
  background-position: bottom;
  background-repeat: no-repeat;
  z-index: -1;
}
@media (min-width: 768px) {
  .page-header--preview::after {
    background-image: none;
    background-color: transparent;
  }
}
@media (min-width: 1300px) {
  .page-header--preview::after {
    min-height: 696px;
    background-image: url("../img/index-background-desktop@1x.jpg");
    left: 360px;
    top: 0;
  }
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .page-header--preview::after {
    background-image: url("../img/index-background-mobile@2x.jpg");
  }
}
@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 768px) and (min-resolution: 144dpi), (min-width: 768px) and (min-resolution: 1.5dppx) {
  .page-header--preview::after {
    background-image: url("../img/index-background-desktop@2x.jpg");
    background-color: #68b738;
  }
}
.page-header__menu {
  padding: 0 20px;
  margin-top: 12px;
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .page-header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 30px;
    margin-top: 0;
    margin-bottom: 0;
    border-bottom: 0;
  }
}
@media (min-width: 1300px) {
  .page-header__menu {
    padding: 0 110px;
    width: 1220px;
  }
}
.page-header__logo-image {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.page-header__logo-image:hover {
  opacity: 0.8;
}
.page-header__logo-image:active {
  opacity: 0.6;
}
.page-header--preview a:hover {
  opacity: 0.6;
}
.page-header--preview a:active {
  opacity: 0.3;
}
@media (min-width: 1300px) {
  .page-header--preview a {
    color: #ffffff;
  }
}
.main-nav__list {
  background-color: #ffffff;
  list-style-type: none;
  margin: 0;
  padding-left: 20px;
  left: 0;
  right: 0;
}
@media (min-width: 768px) {
  .main-nav__list {
    background-color: transparent;
    position: static;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}
.main-nav {
  margin: 0;
}
.main-nav__list-link {
  font-size: 18px;
  font-weight: 500;
  font-family: "Oswald", "Arial", sans-serif;
  padding: 20px 0;
  display: block;
  text-transform: uppercase;
  border-top: 1px solid #e6e6e6;
  color: #111111;
}
@media (min-width: 768px) {
  .main-nav__list-link {
    border-top: none;
    padding: 8px 0 7px;
    border-bottom: 2px solid transparent;
  }
}
@media (min-width: 768px) {
  .main-nav__list-link--active {
    border-color: #68b738;
  }
}
.main-nav__toggle {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  outline: none;
}
@media (min-width: 768px) {
  .main-nav__toggle {
    display: none;
  }
}
.main-nav .main-nav__toggle-bar::before {
  content: "\2630";
  font-size: 28px;
}
.main-nav.open .main-nav__toggle-bar::before {
  content: "\2716";
  font-size: 28px;
}
.advantages__heading {
  color: #111111;
  font-size: 36px;
  font-weight: 400;
  line-height: 60px;
  padding-left: 20px;
  margin-top: 16px;
}
@media (min-width: 768px) {
  .advantages__heading {
    font-size: 60px;
    line-height: 60px;
    padding-left: 30px;
    margin-top: 44px;
    margin-bottom: 72px;
  }
}
@media (min-width: 1300px) {
  .advantages__heading {
    padding-left: 110px;
    margin-top: 70px;
    margin-bottom: 71px;
  }
}
.advantages__list {
  list-style-type: none;
  padding: 0 20px;
  margin: 0;
}
@media (min-width: 768px) {
  .advantages__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0 30px;
    counter-reset: advantages-counter;
    border-bottom: 1px solid #f2f2f2;
    padding-bottom: 100px;
  }
}
@media (min-width: 1300px) {
  .advantages__list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-bottom: 0;
    padding-left: 112px;
    width: 1220px;
    border: none;
  }
}
.advantages__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}
.advantages__item:last-child {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .advantages__item {
    display: block;
    width: 250px;
    margin-bottom: 130px;
    counter-increment: advantages-counter;
    position: relative;
  }
  .advantages__item:nth-child(odd) {
    margin-right: 135px;
  }
  .advantages__item:nth-last-child(2) {
    margin-bottom: 0;
  }
  .advantages__item::before {
    content: counter(advantages-counter);
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 281px;
    color: #f2f2f2;
    position: absolute;
    right: 0;
    top: 88px;
    z-index: 1;
    display: block;
    height: auto;
  }
}
@media (min-width: 768px) and (min-width: 1300px) {
  .advantages__item:nth-child(odd) {
    margin-right: 0;
  }
}
@media (min-width: 1300px) {
  .advantages__item {
    margin-bottom: 0;
  }
  .advantages__item:last-child {
    margin-right: 0;
  }
}
.advantages__text {
  font-family: "Arial", "Tamoha", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  margin: 0;
  margin-left: 20px;
  min-width: 200px;
}
@media (min-width: 768px) {
  .advantages__text {
    margin-left: 0;
    padding-top: 33px;
    width: 100%;
    font-size: 16px;
    line-height: 24px;
    position: relative;
    z-index: 2;
  }
}
.advantages__img {
  background-color: #68b738;
  width: 60px;
  height: 60px;
  position: relative;
  display: block;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
@media (min-width: 768px) {
  .advantages__img {
    width: 80px;
    height: 80px;
  }
}
.advantages__icon {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.example {
  background-color: #f2f2f2;
  display: block;
  margin-top: 42px;
}
@media (min-width: 768px) {
  .example {
    background-image: linear-gradient(to bottom, #ffffff, #ffffff 580px, #f2f2f2 580px, #f2f2f2);
  }
}
@media (min-width: 1300px) {
  .example {
    background-image: linear-gradient(to bottom, #ffffff, #ffffff 217px, #f2f2f2 217px, #f2f2f2);
  }
}
.example__title {
  color: #111111;
  font-size: 36px;
  font-weight: 400;
  line-height: 60px;
  padding-left: 20px;
  padding-top: 18px;
  margin-bottom: 22px;
}
@media (min-width: 768px) {
  .example__title {
    font-size: 60px;
    line-height: 60px;
    padding-top: 0;
    padding-left: 30px;
    margin-bottom: 65px;
    margin-top: 46px;
  }
}
@media (min-width: 1300px) {
  .example__title {
    padding: 0 110px;
    margin-bottom: 146px;
    margin-top: 83px;
  }
}
.example__value {
  color: #111111;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  width: 124px;
  text-align: center;
  margin: 0;
  padding: 16px 0;
}
@media (min-width: 768px) {
  .example__value {
    font-size: 30px;
    width: 162px;
    font-weight: 400;
    line-height: 37px;
    padding: 13px 0 20px;
  }
}
@media (min-width: 1300px) {
  .example__value {
    width: 164px;
  }
}
.example__shape {
  display: inline-block;
  text-align: center;
  border: 1px solid #cdcdcd;
  border-radius: 5px;
  position: relative;
  margin-top: 10px;
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .example__shape {
    padding: 0;
    height: 69px;
  }
}
.example__description {
  font-family: "Arial", "Tamoha", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  padding-left: 20px;
  padding-right: 30px;
}
@media (min-width: 768px) {
  .example__description {
    font-size: 16px;
    line-height: 24px;
    padding-left: 30px;
    padding-right: 40px;
    margin-bottom: 42px;
  }
}
@media (min-width: 1300px) {
  .example__description {
    width: 432px;
    padding-left: 110px;
    margin-bottom: 60px;
  }
}
.example__text {
  width: 57px;
  font-family: "Arial", "Tahoma", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  position: absolute;
  top: 35px;
  left: 34px;
  background-color: #f2f2f2;
}
@media (min-width: 768px) {
  .example__text {
    width: 127px;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    top: 47px;
    left: 18px;
    background-color: #ffffff;
  }
}
@media (min-width: 1300px) {
  .example__text {
    background-color: transparent;
  }
}
@media (min-width: 768px) {
  .example__total {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 30px;
  }
}
@media (min-width: 1300px) {
  .example__total {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 110px;
  }
}
@media (min-width: 1300px) {
  .example__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.example__total-row {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 20px;
}
.example__total-row div:first-child {
  margin-right: 29px;
}
@media (min-width: 768px) {
  .example__total-row div:first-child {
    margin-right: 38px;
  }
}
@media (min-width: 768px) {
  .example__total-row {
    text-align: left;
    padding: 0;
  }
}
.example__cost {
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;
  text-align: center;
  margin-top: 35px;
  margin-bottom: 32px;
}
@media (min-width: 768px) {
  .example__cost {
    width: 174px;
    font-size: 20px;
    font-weight: 400;
    text-align: end;
    line-height: 30px;
    margin-top: 16px;
  }
}
@media (min-width: 1300px) {
  .example__cost {
    width: 327px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 55px;
    margin-bottom: 0;
  }
}
.catalog__column {
  list-style-type: none;
  width: 100%;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-top: 1px solid #ededed;
  margin-top: 24px;
}
@media (min-width: 768px) {
  .catalog__column {
    width: 324px;
    border: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 38px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-top: 164px;
    margin-top: 139px;
    margin-right: 60px;
    background-color: #f2f2f2;
    position: relative;
  }
  .catalog__column:nth-child(even) {
    margin-right: 0;
  }
}
@media (min-width: 768px) and (min-width: 1300px) {
  .catalog__column:nth-child(even) {
    margin-right: 80px;
  }
}
@media (min-width: 1300px) {
  .catalog__column {
    width: 245px;
    margin-right: 80px;
  }
}
.catalog__headline {
  color: #111111;
  font-size: 36px;
  font-weight: 400;
  line-height: 60px;
  padding-left: 21px;
  margin-top: 26px;
}
@media (min-width: 768px) {
  .catalog__headline {
    font-size: 60px;
    border: none;
    padding: 53px 30px 25px;
    margin: 0;
  }
}
@media (min-width: 1300px) {
  .catalog__headline {
    padding: 70px 110px 26px;
  }
}
.catalog__product-discription {
  max-width: 140px;
  width: 100%;
  padding-top: 20px;
}
@media (min-width: 768px) {
  .catalog__product-discription {
    max-width: 100%;
    padding-top: 0;
  }
}
.catalog__product-title {
  text-decoration: none;
  color: #111111;
  text-transform: uppercase;
  display: block;
  margin-bottom: 14px;
}
.catalog__product-title h3 {
  padding-right: 60px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
}
@media (min-width: 768px) {
  .catalog__product-title h3 {
    font-size: 20px;
    text-align: center;
    width: 100%;
    padding: 0 55px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}
@media (min-width: 1300px) {
  .catalog__product-title h3 {
    padding: 0 19px;
  }
}
@media (min-width: 768px) {
  .catalog__product-title {
    margin-bottom: 22px;
  }
}
.catalog__btn {
  width: 100%;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #68b738;
  padding: 10px 0;
  display: block;
  text-align: center;
}
.catalog__btn:hover {
  background-color: #5eaa2f;
}
.catalog__btn:active {
  color: #88c065;
}
@media (min-width: 768px) {
  .catalog__btn {
    padding: 10px 0;
    margin-top: 33px;
    margin-bottom: 40px;
  }
}
.catalog__product-all {
  list-style-type: none;
  /*padding: 0 20px;*/
  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
  padding-bottom: 28px;
  margin-top: 28px;
}
.catalog__product-all p {
  font-family: "Arial", "Tamoha", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
  margin: 0;
}
@media (min-width: 768px) {
  .catalog__product-all p {
    font-size: 16px;
    line-height: 18px;
    width: 170px;
  }
}
@media (min-width: 1300px) {
  .catalog__product-all p {
    margin-left: 17px;
  }
}
.catalog__product-all h3 {
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-top: 12px;
  margin-bottom: 5px;
}
@media (min-width: 768px) {
  .catalog__product-all h3 {
    font-size: 20px;
    width: 150px;
    line-height: 20px;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 27px;
  }
}
@media (min-width: 1300px) {
  .catalog__product-all h3 {
    margin-left: 27px;
  }
}
@media (min-width: 768px) {
  .catalog__product-all img {
    width: 60px;
    min-height: 60px;
  }
}
@media (min-width: 768px) {
  .catalog__product-all {
    border-top: none;
    border: 1px solid #f2f2f2;
    margin-top: 140px;
  }
}
@media (min-width: 1300px) {
  .catalog__product-all {
    width: 245px;
    padding: 0;
  }
}
.catalog__wrapper {
  text-align: center;
  padding: 20px;
  padding-bottom: 24px;
}
@media (min-width: 768px) {
  .catalog__wrapper {
    padding-top: 55px;
    padding-left: 77px;
    padding-right: 75px;
  }
}
@media (min-width: 1300px) {
  .catalog__wrapper {
    padding: 20px;
    padding-top: 56px;
  }
}
.catalog__structure {
  width: 141px;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  font-family: "Arial", "Tahoma", sans-serif;
  border-collapse: collapse;
}
@media (min-width: 768px) {
  .catalog__structure tr {
    border-bottom: 1px solid #cdcdcd;
  }
}
.catalog__structure td:last-child {
  text-align: right;
}
@media (min-width: 768px) {
  .catalog__structure td {
    font-size: 16px;
    line-height: 28px;
  }
}
@media (min-width: 768px) {
  .catalog__structure {
    width: 250px;
  }
}
@media (min-width: 1300px) {
  .catalog__structure {
    width: 172px;
  }
}
.catalog__all {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
@media (min-width: 768px) {
  .catalog__all {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0 30px;
  }
}
@media (min-width: 1300px) {
  .catalog__all {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .catalog__all li:nth-child(4) {
    margin-right: 0;
  }
}
.catalog__product-image {
  display: block;
}
.catalog__product-image img {
  display: block;
}
@media (min-width: 768px) {
  .catalog__product-image img {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}
@media (min-width: 768px) {
  .catalog__product-image {
    height: 208px;
    width: 100%;
    position: absolute;
    left: 50%;
    top: -64px;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
}
@media (min-width: 768px) {
  .catalog__product-image--big {
    top: -82px;
  }
}
.catalog__extra {
  margin: 0;
}
@media (min-width: 1300px) {
  .catalog__extra {
    width: 245px;
    padding-left: 40px;
    padding-right: 40px;
    margin-left: 40px;
  }
}
.program-cat {
  padding: 0 20px;
}
@media (min-width: 768px) {
  .program-cat {
    padding: 0 30px;
  }
}
@media (min-width: 1300px) {
  .program-cat {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 1300px;
    padding: 0 40px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0 auto;
  }
}
.program-cat__unit {
  background-color: #f2f2f2;
  margin-top: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 24px;
  padding-left: 20px;
  padding-right: 33px;
  padding-bottom: 22px;
  position: relative;
}
@media (min-width: 768px) {
  .program-cat__unit {
    padding-top: 72px;
    padding-left: 52px;
    padding-right: 275px;
    padding-bottom: 62px;
    margin-top: 0;
  }
  .program-cat__unit--pro {
    padding-right: 314px;
    margin-top: 30px;
  }
}
@media (min-width: 768px) and (min-width: 1300px) {
  .program-cat__unit--pro {
    margin-top: 0;
  }
}
@media (min-width: 1300px) {
  .program-cat__unit {
    width: 570px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-top: 47px;
    padding-left: 52px;
    padding-right: 53px;
    padding-bottom: 62px;
  }
}
.program-cat__headline {
  color: #111111;
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
  -ms-flex-item-align: center;
      align-self: center;
}
@media (min-width: 768px) {
  .program-cat__headline {
    font-size: 36px;
    line-height: 37px;
  }
}
.program-cat__toggle {
  color: #111111;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
  padding-right: 10px;
  font-size: 16px;
  background: #f2f2f2;
  z-index: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.program-cat__toggle::after {
  content: "";
  position: absolute;
  right: -35px;
  top: 50%;
  width: 37px;
  height: 12px;
  background: url("../img/icon-right-arrow-long.svg") no-repeat center;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: -1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.program-cat__toggle:hover::after {
  right: -46px;
}
.program-cat__toggle:active {
  opacity: 0.3;
}
@media (min-width: 768px) {
  .program-cat__toggle {
    font-size: 20px;
    padding-right: 20px;
    line-height: 20px;
  }
}
.program-cat__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  font-family: "Arial", "Tahoma", sans-serif;
  padding-bottom: 25px;
  border-bottom: 1px solid #dadada;
  margin-top: 22px;
}
@media (min-width: 768px) {
  .program-cat__text {
    font-size: 16px;
    line-height: 24px;
    border-bottom: none;
    margin-bottom: 34px;
    margin-top: 25px;
  }
}
@media (min-width: 1300px) {
  .program-cat__text {
    margin-top: 45px;
    padding-bottom: 0;
  }
}
.program-cat__wrap {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #68b738;
  display: block;
  position: relative;
  -ms-flex-item-align: center;
      align-self: center;
  margin-right: 20px;
}
@media (min-width: 768px) {
  .program-cat__wrap {
    width: 200px;
    height: 200px;
    margin-right: 0;
    position: absolute;
    top: 91px;
    right: 61px;
  }
}
@media (min-width: 1300px) {
  .program-cat__wrap {
    position: relative;
    width: 100px;
    height: 100px;
    margin-right: 64px;
    right: 0;
    top: 0;
  }
}
.program-cat__image {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 35px;
  height: 49px;
}
@media (min-width: 768px) {
  .program-cat__image {
    width: 140px;
    height: 194px;
    margin-top: -20px;
  }
}
@media (min-width: 1300px) {
  .program-cat__image {
    width: 70px;
    height: 97px;
    margin-top: -1px;
  }
}
.program-cat__image--pro {
  max-width: 67px;
  width: 67px;
  height: 28px;
}
@media (min-width: 768px) {
  .program-cat__image--pro {
    max-width: 268px;
    width: 268px;
    height: 112px;
    margin-top: -2px;
    margin-left: 1px;
  }
}
@media (min-width: 1300px) {
  .program-cat__image--pro {
    max-width: 134px;
    width: 134px;
    height: 56px;
    margin-top: 0;
  }
}
.program-cat__text--pro {
  margin-bottom: 15px;
}
@media (min-width: 768px) {
  .program-cat__text--pro {
    margin-bottom: 34px;
  }
}
.stats__btn {
  color: #ffffff;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #68b738;
  font-weight: 400;
  padding: 6px 0;
  margin: 0 20px;
  display: block;
}
.stats__btn:hover {
  background-color: #5eaa2f;
}
.stats__btn:active {
  color: rgba(255, 255, 255, 0.3);
}
@media (min-width: 768px) {
  .stats__btn {
    width: 193px;
    font-size: 20px;
    padding: 15px 27px 15px 24px;
    margin-left: 120px;
  }
}
@media (min-width: 1300px) {
  .stats__btn {
    margin-left: 190px;
  }
}
.stats {
  color: #ffffff;
}
.stats h2 {
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  margin: 0;
  padding-top: 28px;
}
@media (min-width: 768px) {
  .stats h2 {
    max-width: 520px;
    padding: 0;
    margin-top: 53px;
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
    padding-left: 118px;
    color: #000000;
    text-align: left;
  }
}
@media (min-width: 1300px) {
  .stats h2 {
    margin-top: 104px;
    padding-left: 190px;
  }
}
@media (min-width: 768px) {
  .stats {
    position: relative;
    margin-bottom: 21px;
    min-height: 792px;
    text-align: left;
  }
}
@media (min-width: 1300px) {
  .stats {
    min-height: 527px;
    margin-bottom: 22px;
  }
}
.stats__slogan {
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .stats__slogan {
    font-size: 20px;
    font-weight: 400;
    margin: 0;
    margin-top: 38px;
    margin-bottom: 40px;
    padding-left: 118px;
    text-align: left;
    color: #000000;
  }
}
@media (min-width: 1300px) {
  .stats__slogan {
    padding-left: 190px;
    margin-bottom: 45px;
  }
}
.stats__production-image {
  display: block;
  margin: 0 auto 3px;
}
@media (min-width: 768px) {
  .stats__production-image {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 200px;
    margin: 0 auto;
    z-index: -1;
  }
}
@media (min-width: 1300px) {
  .stats__production-image {
    position: absolute;
    top: -80px;
    left: 230px;
    width: 552px;
    height: 499px;
  }
}
.profile__field {
  border: 0 none;
}
.profile__field input {
  color: #444444;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  border: 1px solid #e6e6e6;
  height: 45px;
  width: 219px;
  padding-left: 14px;
}
.profile__field input:hover {
  border-color: #cdcdcd;
}
.profile__field input:focus {
  outline: 2px solid #444444;
}
.profile__field input:active {
  outline: 2px solid #444444;
}
.profile__field input::-webkit-input-placeholder {
  color: #444444;
}
@media (min-width: 768px) {
  .profile__field input {
    width: 551px;
    font-size: 20px;
    line-height: 20px;
    padding-left: 20px;
  }
}
.profile__text-designation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 19px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
}
.profile__text-designation input {
  height: 27px;
  width: 100%;
}
@media (min-width: 768px) {
  .profile__text-designation input {
    height: 40px;
  }
}
@media (min-width: 768px) {
  .profile__text-designation {
    padding: 0;
  }
}
.profile__field-title {
  color: #111111;
  font-size: 24px;
  font-weight: 400;
  margin: 0;
  position: relative;
}
.profile__field-title::before {
  width: 100%;
  content: " ";
  height: 3px;
  background-color: #68b738;
  display: block;
  position: absolute;
  top: 15px;
  left: 0;
  z-index: 1;
}
.profile__field-title span {
  background-color: #ffffff;
  position: relative;
  z-index: 2;
  display: block;
  margin-right: 145px;
  padding: 0 20px;
  line-height: 26px;
  margin-top: 12px;
}
@media (min-width: 768px) {
  .profile__field-title span {
    margin-right: 450px;
    margin-left: 30px;
    padding: 0 40px;
  }
}
@media (min-width: 1300px) {
  .profile__field-title span {
    margin-top: 5px;
    margin-right: 1170px;
    margin-left: 15px;
    padding: 0 40px;
  }
}
@media (min-width: 768px) {
  .profile__field-title {
    font-size: 36px;
    line-height: 36px;
  }
}
@media (min-width: 1300px) {
  .profile__field-title {
    padding-left: 110px;
  }
}
.profile__text-info {
  color: #111111;
  font-size: 16px;
  line-height: 25px;
  text-transform: uppercase;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-right: 15px;
}
@media (min-width: 768px) {
  .profile__text-info {
    font-size: 20px;
    line-height: 20px;
  }
}
.profile__item {
  list-style-type: none;
  margin-bottom: 13px;
}
.profile__item label {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .profile__item label {
    font-size: 20px;
    line-height: 20px;
  }
}
@media (min-width: 768px) {
  .profile__item {
    margin-bottom: 38px;
    width: 45%;
  }
}
@media (min-width: 1300px) {
  .profile__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
    padding-right: 19px;
    width: 325px;
  }
}
.profile__list {
  padding: 0 20px;
  margin-top: 32px;
  margin-bottom: 35px;
}
.profile__list label {
  color: #111111;
  font-size: 16px;
}
@media (min-width: 768px) {
  .profile__list label {
    font-size: 20px;
  }
}
@media (min-width: 768px) {
  .profile__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 0 70px;
    margin-top: 65px;
    margin-bottom: 20px;
  }
}
@media (min-width: 1300px) {
  .profile__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 1220px;
    -ms-flex-flow: nowrap;
        flex-flow: nowrap;
    padding: 0 110px;
    margin-top: 66px;
    margin-bottom: 25px;
  }
}
.profile__textarea {
  color: #444444;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  margin-top: 30px;
  resize: none;
  width: 275px;
  height: 135px;
  text-align: center;
  padding-top: 10px;
  border: 1px solid rgba(205, 205, 205, 0.5);
  overflow: hidden;
}
.profile__textarea:hover {
  border-color: #cdcdcd;
}
.profile__textarea:focus {
  outline: 2px solid #444444;
}
.profile__textarea:active {
  outline: 2px solid #444444;
}
@media (min-width: 768px) {
  .profile__textarea {
    font-size: 20px;
    width: 610px;
    height: 155px;
    text-align: left;
    padding-left: 20px;
    padding-top: 15px;
    margin-bottom: 42px;
    margin-top: 74px;
  }
}
@media (min-width: 1300px) {
  .profile__textarea {
    width: 1200px;
    height: 155px;
    margin-top: 35px;
    margin-bottom: 12px;
  }
}
.profile__column {
  padding: 0 20px 11px;
}
@media (min-width: 768px) {
  .profile__column {
    padding: 11px 70px;
  }
}
@media (min-width: 1300px) {
  .profile__column {
    padding: 0;
    padding-right: 81px;
  }
}
.profile__button {
  padding: 0 20px;
  margin-bottom: 35px;
}
.profile__button button {
  border: none;
  color: #ffffff;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  background-color: #68b738;
  padding: 10px 68px 10px 71px;
}
@media (min-width: 768px) {
  .profile__button button {
    font-size: 20px;
    white-space: nowrap;
    width: 45%;
    padding: 18px 66px 16px 64px;
  }
}
@media (min-width: 1300px) {
  .profile__button button {
    font-size: 20px;
    width: 47%;
  }
}
@media (min-width: 768px) {
  .profile__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 70px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 73px;
  }
}
@media (min-width: 1300px) {
  .profile__button {
    padding: 0 110px;
    margin-bottom: 80px;
  }
}
.profile__point {
  font-family: "Arial", "Tahoma", sans-serif;
  color: #444444;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
}
@media (min-width: 768px) {
  .profile__point {
    font-size: 16px;
    margin-left: 69px;
    margin-top: 9px;
  }
}
@media (min-width: 1300px) {
  .profile__point {
    font-size: 16px;
    margin-left: 85px;
  }
}
.profile__information {
  margin-top: 40px;
}
@media (min-width: 768px) {
  .profile__information {
    padding: 0 70px;
  }
}
@media (min-width: 1300px) {
  .profile__information {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 110px;
    margin-top: 14px;
  }
  .profile__information div:first-child {
    margin-right: 40px;
  }
}
.profile__text-control {
  padding: 6px 15px;
}
.profile__text-control:focus:invalid {
  outline: 2px solid #444444;
}
.profile__field-list {
  list-style: none;
  padding: 15px 65px;
  margin-top: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  border: 1px solid #ededed;
  width: 100%;
}
@media (min-width: 768px) {
  .profile__field-list {
    margin-top: 50px;
    margin-bottom: 71px;
    padding-top: 35px;
    padding-bottom: 1px;
  }
}
.profile__label-radio::before {
  border-radius: 50%;
  top: -6px;
}
.profile__label--checkbox::before,
.profile__label-radio::before {
  content: " ";
  position: absolute;
  left: 0;
  width: 30px;
  height: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #cdcdcd;
  margin-top: 10px;
  margin-left: -45px;
}
@media (min-width: 768px) {
  .profile__label--checkbox::before,
  .profile__label-radio::before {
    width: 40px;
    height: 40px;
    margin: 0;
    margin-left: -36px;
    top: -10px;
  }
}
.profile__field-item {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 3px;
}
.profile__field-item label {
  color: #111111;
  font-size: 16px;
  font-weight: 400;
  line-height: 39px;
  text-transform: uppercase;
}
.profile__field-item label:active {
  color: #ededed;
}
@media (min-width: 768px) {
  .profile__field-item label {
    font-size: 20px;
    line-height: 20px;
  }
}
.profile__field-item input[type="radio"] {
  display: none;
}
@media (min-width: 768px) {
  .profile__field-item {
    margin: 0;
    padding-bottom: 32px;
    padding-left: 22px;
  }
}
.profile__input-radio:checked + label::after {
  content: " ";
  position: absolute;
  top: 3px;
  left: 9px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 12px;
  height: 12px;
  background-color: #68b738;
  border-radius: 50%;
  margin-top: 10px;
  margin-left: -45px;
}
@media (min-width: 768px) {
  .profile__input-radio:checked + label::after {
    width: 18px;
    height: 18px;
    top: -9px;
    margin-left: -34px;
  }
}
.profile__type-input {
  display: none;
}
.profile__type {
  position: relative;
  display: inline-block;
  padding-left: 45px;
  padding-top: 6px;
  padding-bottom: 6px;
  cursor: pointer;
  outline: none;
}
.profile__type:active {
  opacity: 0.3;
}
@media (min-width: 768px) {
  .profile__type {
    padding-left: 58px;
  }
}
.profile__type-input:checked + .profile__type::before {
  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50%;
}
.profile__type::before {
  content: "";
  position: absolute;
  left: -2px;
  top: -1px;
  display: block;
  width: 30px;
  height: 30px;
  border: 1px solid #ededed;
}
@media (min-width: 768px) {
  .profile__type::before {
    width: 40px;
    height: 40px;
  }
}
.profile__comments {
  padding: 7px 20px;
}
@media (min-width: 768px) {
  .profile__comments {
    text-align: center;
  }
}
@media (min-width: 1300px) {
  .profile__comments {
    padding: 46px 110px;
  }
}
.profile__data {
  width: 195px;
}
@media (min-width: 768px) {
  .profile__data {
    width: 515px;
  }
}
.profile__line {
  margin-top: 30px;
}
@media (min-width: 768px) {
  .profile__line {
    margin-top: 70px;
    margin-bottom: 63px;
  }
}
@media (min-width: 1300px) {
  .profile__line {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 110px;
    margin-top: 82px;
    margin-bottom: 75px;
  }
}
@media (min-width: 1300px) {
  .profile__block {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
}
.present {
  padding: 0 20px;
  /*border-top: 1px solid @lightgray;*/
}
@media (min-width: 768px) {
  .present {
    border: none;
    margin-bottom: 80px;
  }
}
@media (min-width: 1300px) {
  .present {
    padding-right: 50px;
    margin: 0;
  }
}
.present__title {
  width: 170px;
  color: #ffffff;
  font-family: "Arial", "Tahoma", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  margin: 0;
  margin-top: 60px;
}
@media (min-width: 768px) {
  .present__title {
    text-align: start;
    margin: 0;
    margin-top: 10px;
  }
}
@media (min-width: 1300px) {
  .present__title {
    width: 161px;
    text-align: center;
    padding-bottom: 10px;
  }
}
.present__image {
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-color: #68b738;
  height: 289px;
  width: 280px;
  margin-top: 42px;
  margin-bottom: 34px;
}
.present__image img {
  margin-top: 65px;
}
@media (min-width: 768px) {
  .present__image img {
    margin: 0;
  }
}
@media (min-width: 1300px) {
  .present__image img {
    margin-top: 40px;
  }
}
@media (min-width: 768px) {
  .present__image {
    background-image: url("../img/gift-photo-tablet@1x.jpg");
    width: 708px;
    height: 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    margin-top: 68px;
  }
}
@media (min-width: 1300px) {
  .present__image {
    background-image: url("../img/gift-photo-desktop@1x.jpg");
    height: 289px;
    width: 245px;
    margin: 0;
  }
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .present__image {
    background-image: url("../img/gift-photo-mobile@2x.jpg");
  }
}
.present__image-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 768px) {
  .present__image-row {
    width: 510px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-left: 91px;
    padding-right: 115px;
  }
}
@media (min-width: 1300px) {
  .present__image-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 0;
  }
}
.additionally__item {
  width: 100%;
  list-style-type: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 20px 14px;
  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
  padding-top: 10px;
}
@media (min-width: 768px) {
  .additionally__item {
    padding-top: 25px;
    padding-left: 38px;
    padding-right: 37px;
    padding-bottom: 26px;
    border: 1px solid #ededed;
  }
}
@media (min-width: 1300px) {
  .additionally__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0;
    padding-top: 17px;
    padding-bottom: 13px;
    border-left: none;
    border-right: none;
  }
}
.additionally__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.additionally__column p {
  font-family: "Arial", "Tahoma", sans-serif;
  font-size: 14px;
  font-weight: 400;
  white-space: nowrap;
  margin-top: 0;
  margin-bottom: 8px;
}
@media (min-width: 768px) {
  .additionally__column p {
    font-size: 16px;
    line-height: 28px;
  }
  .additionally__column p:first-child {
    margin-right: 50px;
  }
}
@media (min-width: 1300px) {
  .additionally__column p {
    margin: 0;
  }
}
@media (min-width: 1300px) {
  .additionally__column {
    width: 285px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-left: 80px;
    margin-top: 10px;
  }
}
.additionally__structure h3 {
  color: #111111;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  white-space: nowrap;
  margin: 0;
}
@media (min-width: 768px) {
  .additionally__structure h3 {
    font-size: 20px;
    line-height: 20px;
  }
}
@media (min-width: 1300px) {
  .additionally__structure h3 {
    width: 245px;
  }
}
@media (min-width: 768px) {
  .additionally__structure {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 10px;
  }
}
@media (min-width: 1300px) {
  .additionally__structure {
    margin: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.additionally__list {
  padding: 0;
}
@media (min-width: 768px) {
  .additionally__list {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (min-width: 1300px) {
  .additionally__list {
    width: 895px;
  }
}
@media (min-width: 1300px) {
  .additionally__all {
    width: 1300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 80px;
    margin: 0 auto;
    margin-bottom: 72px;
  }
}
.additionally__title {
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 24px;
  margin-bottom: 29px;
  position: relative;
  white-space: nowrap;
}
.additionally__title::before {
  width: 100%;
  content: " ";
  height: 3px;
  background-color: #68b738;
  display: block;
  position: absolute;
  top: 15px;
  left: 0;
  z-index: 1;
}
.additionally__title span {
  background-color: #ffffff;
  position: relative;
  z-index: 2;
  display: block;
  margin-right: 50px;
  padding: 0 20px;
  line-height: 26px;
}
@media (min-width: 768px) {
  .additionally__title span {
    margin-right: 330px;
    margin-left: 30px;
    margin-top: 72px;
    margin-bottom: 84px;
    font-size: 36px;
    padding: 0 37px;
  }
}
@media (min-width: 1300px) {
  .additionally__title span {
    margin-right: 960px;
    margin-top: 82px;
    padding: 0 30px;
    margin-left: 80px;
    margin-bottom: 68px;
  }
}
.map__title {
  width: 122px;
  height: 57px;
  color: #111111;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .map__title {
    min-width: 154px;
    font-size: 20px;
    line-height: 25px;
  }
}
@media (min-width: 1300px) {
  .map__title {
    padding-right: 95px;
    margin-top: 25px;
  }
}
.map__site {
  width: 144px;
  height: 53px;
  color: #444444;
  font-family: "Arial", "Tahoma", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
}
@media (min-width: 768px) {
  .map__site {
    width: 155px;
    font-size: 16px;
    text-align: end;
  }
}
@media (min-width: 1300px) {
  .map__site {
    width: 170px;
    text-align: start;
  }
}
.map__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 285px;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
  margin-top: 10px;
}
@media (min-width: 768px) {
  .map__contacts {
    width: 630px;
    margin-bottom: 57px;
  }
}
@media (min-width: 1300px) {
  .map__contacts {
    background-color: #ffffff;
    margin-top: 95px;
    padding: 42px 77px 65px 80px;
    width: 416px;
  }
}
.map {
  background-color: #f2f2f2;
  position: relative;
}
.map__interactive {
  min-height: 400px;
  width: 100%;
  padding: 0;
}
.map__iframe {
  margin-bottom: -7px;
  background-image: url("../img/bg-map-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
  height: 362px;
}
.map__iframe iframe {
  width: 100%;
  height: 362px;
}
@media (min-width: 768px) {
  .map__iframe iframe {
    width: 100%;
    nim-width: 768px;
    height: 400px;
  }
}
@media (min-width: 1300px) {
  .map__iframe iframe {
    width: 100%;
    min-width: 1300px;
  }
}
@media (min-width: 768px) {
  .map__iframe {
    background-image: url("../img/bg-map-tablet@1x.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
    height: 400px;
  }
}
@media (min-width: 1300px) {
  .map__iframe {
    position: relative;
    background-image: url("../img/bg-map-desktop@1x.png");
  }
}
.map__city {
  background-color: transparent;
}
.map__place {
  margin: 0;
}
@media (min-width: 768px) {
  .map__place {
    margin-top: 18px;
  }
}
@media (min-width: 1300px) {
  .map__place {
    margin-top: 20px;
  }
}
.map__outside {
  margin: 0;
}
@media (min-width: 1300px) {
  .map__container {
    position: absolute;
    top: 0;
    bottom: 0;
    padding-left: calc((100vw - 1320px) / 2 + 40px);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100%;
    z-index: 1;
  }
}
.map__address {
  padding-top: 10px;
}
@media (min-width: 768px) {
  .map__address {
    padding-top: 44px;
  }
}
.social__item {
  list-style-type: none;
}
.social__item a {
  text-decoration: none;
}
.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 122px;
  padding: 0;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.social__link--vkontakte:hover {
  opacity: 0.6;
}
.social__link--vkontakte:active {
  opacity: 0.3;
}
@media (min-width: 768px) {
  .social__link--vkontakte img {
    width: 30px;
    height: 16px;
  }
}
.social__link--facebook:hover {
  opacity: 0.6;
}
.social__link--facebook:active {
  opacity: 0.3;
}
@media (min-width: 768px) {
  .social__link--facebook img {
    width: 14px;
    height: 28px;
  }
}
.social__link--instagram:hover {
  opacity: 0.6;
}
.social__link--instagram:active {
  opacity: 0.3;
}
@media (min-width: 768px) {
  .social__link--instagram img {
    width: 23px;
    height: 23px;
  }
}
.social__icon--vk {
  width: 22px;
  height: 12px;
}
@media (min-width: 768px) {
  .social__icon--vk {
    width: 30px;
    height: 16px;
  }
}
.social__icon--insta {
  width: 16px;
  height: 16px;
}
@media (min-width: 768px) {
  .social__icon--insta {
    width: 23px;
    height: 23px;
  }
}
.social__icon--facebook {
  width: 10px;
  height: 19px;
}
@media (min-width: 768px) {
  .social__icon--facebook {
    width: 14px;
    height: 28px;
  }
}
.program {
  color: #111111;
  font-size: 36px;
  font-weight: 400;
  line-height: 60px;
  padding-left: 20px;
  margin-top: 25px;
  margin-bottom: 27px;
}
@media (min-width: 768px) {
  .program {
    font-size: 60px;
    margin-top: 53px;
    margin-bottom: 40px;
    padding-left: 30px;
  }
}
@media (min-width: 1300px) {
  .program {
    padding: 0 110px;
    margin-top: 70px;
    margin-bottom: 55px;
  }
}
@media (min-width: 768px) {
  .sample {
    margin-top: 60px;
  }
}
@media (min-width: 1300px) {
  .sample {
    margin-top: 35px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.sample__button {
  border: none;
  text-transform: uppercase;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  cursor: pointer;
  background-color: transparent;
}
@media (min-width: 768px) {
  .sample__button {
    font-size: 20px;
    font-weight: 400;
    border-bottom: 1px dotted #d9d9d9;
  }
  .sample__button:hover {
    border-bottom: 1px solid #d9d9d9;
  }
  .sample__button:active {
    border-bottom: 0;
  }
}
.sample__img {
  display: block;
  margin: 0 auto;
  max-width: inherit;
}
@media (min-width: 768px) {
  .sample__img {
    max-width: 690px;
    height: 517px;
    margin-left: 45px;
  }
}
@media (min-width: 1300px) {
  .sample__img {
    margin-top: -10px;
    margin-right: 125px;
  }
}
.sample__range {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 210px;
  margin: 0 auto;
  padding: 30px 0 35px;
}
@media (min-width: 768px) {
  .sample__range {
    max-width: 575px;
    margin-top: -17px;
    margin-bottom: 44px;
    padding-bottom: 70px;
  }
}
@media (min-width: 1300px) {
  .sample__range {
    margin: 0;
    padding-top: 38px;
    padding-bottom: 65px;
    padding-left: 125px;
    padding-right: 40px;
    width: 580px;
  }
}
.sample__progress {
  position: relative;
  max-width: 84px;
  width: 100%;
  height: 14px;
  border: 1px solid #d9d9d9;
  border-radius: 50px;
  background: #ffffff;
}
.sample__progress::after {
  content: "";
  position: absolute;
  left: 5px;
  top: 50%;
  right: 5px;
  width: 35px;
  height: 6px;
  border-radius: 50px;
  background: #68b738;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
@media (min-width: 768px) {
  .sample__progress::after {
    background: #d9d9d9;
  }
}
@media (min-width: 768px) {
  .sample__progress {
    max-width: inherit;
    height: 6px;
    margin: 0 25px;
    background: #d9d9d9;
  }
}
.sample__tog {
  background: #ffffff;
}
@media (min-width: 768px) {
  .sample__tog {
    position: absolute;
    top: 50%;
    left: 50.5%;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid #cdcdcd;
    background: #ffffff;
    cursor: pointer;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -webkit-box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.15);
            box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.15);
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .sample__tog:hover {
    -webkit-box-shadow: 0 3px 3px 1px rgba(0, 0, 0, 0.15);
            box-shadow: 0 3px 3px 1px rgba(0, 0, 0, 0.15);
  }
  .sample__tog:active {
    border: 2px solid #68b738;
    -webkit-box-shadow: 0 3px 3px 1px rgba(0, 0, 0, 0.25);
            box-shadow: 0 3px 3px 1px rgba(0, 0, 0, 0.25);
  }
  .sample__tog::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 8px;
    height: 8px;
    margin: auto;
    border-radius: 50%;
    background-color: #68b738;
  }
}
.profile-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
@media (min-width: 1300px) {
  .profile-field input {
    width: 450px;
  }
}
@media (min-width: 1300px) {
  .profile-field__post input {
    width: 480px;
  }
}
.profile-field__text {
  color: #111111;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  margin-right: 11px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
@media (min-width: 768px) {
  .profile-field__text {
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    margin-right: 17px;
  }
}
.profile-field__contact-icon {
  position: absolute;
  top: 50%;
  right: 15px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.page-main {
  width: 320px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .page-main {
    width: 768px;
    margin: 0 auto;
  }
}
@media (min-width: 1300px) {
  .page-main {
    width: 1440px;
  }
}
.page-footer {
  background-color: #f2f2f2;
}
.page-footer__logo-image {
  padding: 43px 0 30px;
  margin: 0 auto;
  max-width: 128px;
  padding-bottom: 32px;
  display: block;
}
@media (min-width: 768px) {
  .page-footer__logo-image {
    padding: 0;
  }
}
.page-footer__icon a {
  text-decoration: none;
  width: 286px;
  padding-left: 15px;
  padding-right: 10px;
  padding-top: 4px;
  padding-bottom: 10px;
  margin: 0 auto;
  font-size: 18px;
  color: #5eaa2f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 768px) {
  .page-footer__icon a {
    width: 169px;
  }
}
@media (min-width: 1300px) {
  .page-footer__icon a {
    padding: 0;
  }
}
@media (min-width: 768px) {
  .page-footer__icon {
    width: 163px;
  }
}
.page-footer__name {
  display: inline-block;
  font-family: "Arial", "Tahoma", sans-serif;
  color: #444444;
  font-size: 16px;
}
@media (min-width: 768px) {
  .page-footer__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 45px;
    padding-top: 40px;
    padding-bottom: 30px;
  }
}
@media (min-width: 1300px) {
  .page-footer__row {
    padding: 50px 110px;
  }
}
.page-footer__social {
  padding-top: 18px;
  padding-bottom: 15px;
  padding-left: 50px;
  padding-right: 60px;
  border-bottom: 1px solid #e6e6e6;
  border-top: 1px solid #e6e6e6;
}
@media (min-width: 768px) {
  .page-footer__social {
    border: none;
    min-width: 123px;
    padding: 0;
    padding-left: 35px;
  }
}
@media (min-width: 1300px) {
  .page-footer__social {
    padding-left: 20px;
  }
}
.page-footer__logo {
  border-bottom: 1px solid #e6e6e6;
}
.page-footer__logo:hover {
  opacity: 0.8;
}
.page-footer__logo:active {
  opacity: 0.6;
}
@media (min-width: 768px) {
  .page-footer__logo {
    border: none;
    min-width: 129px;
  }
}
.page-footer__academy:hover {
  opacity: 0.8;
}
.page-footer__academy:active {
  opacity: 0.6;
}
.btn {
  width: 100%;
  color: #000000;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 8px 0;
  display: block;
  text-align: center;
  background-color: #f2f2f2;
  margin-top: 25px;
}
.btn:hover {
  background-color: #5eaa2f;
}
.btn:active {
  color: #88c065;
}
@media (min-width: 768px) {
  .btn {
    margin: 0;
  }
}
.btn--silver {
  width: 280px;
  margin: 0 auto;
}
.btn--silver:hover {
  background-color: #ededed;
}
.btn--silver:active {
  background-color: #ededed;
  opacity: 0.3;
}
@media (min-width: 768px) {
  .btn--silver {
    width: 248px;
    margin-top: 64px;
  }
}
@media (min-width: 1300px) {
  .btn--silver {
    width: 160px;
  }
}
.main-form {
  width: 320px;
  margin: 0 auto;
}
.site-list__item {
  text-align: center;
}
.site-list__item a:hover {
  opacity: 0.6;
}
.site-list__item a:active {
  opacity: 0.3;
}
.site-list__item:last-child {
  margin: 0;
}
@media (min-width: 768px) {
  .site-list__item {
    padding-left: 35px;
  }
}
.program-title {
  color: #111111;
  width: 230px;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  margin: 0;
  padding-left: 20px;
}
@media (min-width: 768px) {
  .program-title {
    width: 325px;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    padding: 15px 70px 25px;
  }
}
@media (min-width: 1300px) {
  .program-title {
    padding: 0 110px;
    margin-bottom: 0;
  }
}

/*# sourceMappingURL=style.css.map */
